@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
  width: 100%;
  min-height: 100vh;
}


